@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
    font-family: 'Fredoka One', cursive;
    margin: 10px;
}

body{
    background-color: #0093E9;
    text-align: center;
    margin:  0px auto;
}

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
    margin: 0 auto;
    position: relative;
}

.logo{
    width: 300px;
}

.icon{
    width: 200px;
}

.footerIcon{
    width: 500px;
}
  
.cont{
    background-color: #ffffff80;
    background-image: url('../fundocontact.png');
    box-shadow: 3px 3px 1px 0px #00000060;
    margin: 10px auto;
    border-radius: 10px;
    padding: 5vw; 
    width: 80%; 
    max-width: 100%; 
    overflow-x: hidden; 
    overflow-y: auto; 
}


.texto {
    flex-grow: 1; 
    margin-right: 10px;
    font-size: 22px;
    background: #272262;
    color: white;
    border: none;
}

.topo{
    display: flex;
    justify-content: space-between;
}

.topo textarea{
    flex-grow: 1;
    margin-right: 20px; 
    padding: 1.1em; // Usar em para padding torna-o relativo ao tamanho da fonte
    width: 450px;
    padding: 22px;
    border-radius: 10px;
    outline: none;
    font-size: 20px;
    background: #272262;
    color: white;
    border: none;
}

.topo textarea::placeholder{
    color: white;
}

.topo input::placeholder{
    color: white;
}

.topo input:hover{
    background: #463f8b;
}

.topo button{
    width: 65px;
    border-radius: 10px;
    background: #272262;
    color: white;
    outline: none;
    border: none;
}

.topo button:hover{
    background: #463f8b;
    cursor: pointer;
}

i{
    font-size: 28px;
}

#listatarefa{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

#listatarefa li{
    padding: 10px;
    background: #272262;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 20px;
    word-wrap: break-word;
    white-space: normal;
    max-width: 100%;
}

.acao{
    border-radius: 10px;
    color: white;
    width: 68px;
    cursor: pointer;
    border: none;
    margin: 4px;
    background: none;
}


#janelaedicao{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 650px;
    border-radius: 10px;
    display: none;
    z-index: 200;
}

#janelaedicao.abrir {
    display: block !important;
}

#janelaedicaofundo{
    position: fixed;
    top: 0;
    background-color: #272262;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
    display: none;
    z-index: 100;
}

#tarefanomeedicao {
    padding: 10px;
    background: #272262;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 20px;
    word-wrap: break-word;
    white-space: normal;
    max-width: 80%;
}

#janelaedicaofundo.abrir {
    display: block !important;
}

#fechar{
    position: absolute;
    top: -25px;
    right: -18px; 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #272262;
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
}

form{
    width: 100%;
    margin-top: 20px;
}

.linha{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.linha label{
    margin-bottom: 7px;
    border: none;
}

.linha input{
    padding: 15px;
    border-radius: 10px;
    outline: none;
    font-size: 20px;
    background: rgb(66, 60, 60);
    color: white;
    border: none;
}

.linha button{
    background: #272262;
    padding: 7px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    height: 50px;
    font-size: 20px;
    outline: none;
    border: none;
}

#janelaexcluir{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: white;
    width: 415px;
    border-radius: 10px;
    display: none;
    z-index: 200;
}

#janelaexcluir.abrir{
    display: block !important;
}


#janelaexcluirfundo{
    position: fixed;
    top: 0;
    backdrop-filter: blur(8px); 
    background-color: rgba(95, 116, 184, 0.226); 
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.384); 
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.6;
    display: none;
    z-index: 100;
    border-radius: 10px;
}

#janelaexcluirfundo.abrir{
    display: block !important;
}

#fechar2{
    position: absolute;
    top: -25px;
    right: -18px; 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: black;
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
}

h2{
  margin: 10px;  
}

#apagar{
    background: #272262;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    height: 50px;
    font-size: 20px;
    outline: none;
    border: none;
}

